.main-image {
  max-height: 400px;
  object-fit: contain;
}

.thumbnail-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.thumbnail-img:hover {
  transform: scale(1.05);
  border-color: #0d6efd;
}

.active-thumb {
  border-color: #0d6efd;
  transform: scale(1.1);
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

